@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100&display=swap');

// colors
$white: #fff;
$gray_1: #d7dee5;
$gray_2: #b9c5d5;
$gray_3: #9ba2ac;
$gray_4: #4b4e58;
$blue-dark: #15133c;
$blue-light: #13253c;
$gold-dark: #c28022;
$gold-light: #ffe777;

// box shadow
$shadowSmall: rgba(0, 0, 0, 0.24) 0 3px 8px;
$shadowMedium: rgba(0, 0, 0, 0.35) 0 5px 15px;
$shadowBig: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;

// reset css
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background-color: $white;
  color: $blue-dark;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

ol,
ul {
  list-style: none;
}

input,
input:required {
  border-radius: 0;
  box-shadow: none;
}

:focus {
  outline: 0;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
}
